@charset "utf-8";

/*----------------練習Eventpage-----------------------------*/

/*.ttl_ohter{
    margin-bottom: 50px;
}
*/

.info_title{
    background-color: rgb(22, 22, 21);
    padding: 10px 0;
    border-radius: 8px 8px 0 0;
}

h3 {
    color: white;    
}

.event_info li{
    max-width: 450px;
  
    margin: 0 auto 50px;
    border: solid black;
    border-radius: 15px 15px 0 0;      
}

.tirashi{
    padding: 10px ;
}

.info_text{
    padding: 10px;
}

.info_text dt{
    background-color: #ffc3c3;
    line-height: 2em;
    display: inline-block;
    padding: 0 10px;
    border-radius: 15px;
}
 /* カード内もっとmi
 るボタン*/
.button_solid017{
    margin: 10px 0 20px 0 ;
}
 
.button_solid017 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.button_solid017 a:hover {
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.button_solid017 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

   
/*------pc-----*/

@media screen and (min-width: 768px) {
   .event_container{
    display: flex;
    flex-wrap: wrap;
  
    gap: 20px;
}
}




/*---------event_detail 指示----------*/
.event_detail{
       
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px dotted #000066;
}

.img_kara{
    border: solid yellow;
    width: 300px;
    height: 300px;

}

.info_card{
        margin: 0 auto;
        padding: 10px;
}

@media screen and (min-width: 768px) {
    .info_card{
        width: 45%;
    }
    
}

h4{
    font-size: 20px;
    margin: 20px 0 ;
    text-align: center;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}

dd{
   line-height: 1.5; 
}

dt{
    margin:10px 0 ;   
}
