@charset "utf-8";

body {
    padding: 20px;
}

/* worksタイトルの設定 */
.ttl_ohter {
    margin:  50px;
  }

/* worksタイトル下のコメント*/
.message {
    margin-bottom: 60px;
    text-align: center;
}

/* 幅に合わせて画像の配置調整 */

.works img {
   
    border: rgb(196, 232, 247) solid;
}

.inner p {
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: left;
}

/* pc */
.works_detail{
    max-width: 600px;
    margin: 0 auto;
}




/* ふわっと絵がでる（１行目） */
.huwatto {
    animation-name: fadein;
    animation-duration: 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translatey(20px);
    }

    to {
        opacity: 1;
        transform: translatey(0);
    }
}
